@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

:root {
  --primary-color: #955df4;
  --secondary-color: #ff816c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #955df4;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  padding-bottom: 2rem;
  background-color: black;
}

header {
  width: 100%;
  padding: 1rem;
}


header h3 {
  color: #955df4;
  margin-left: 1.5rem;
  margin-top: 1em;
  margin-left: 17em;

}

.table-products {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
}

.table-products th,
.table-products td {
  text-align: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #c089e0;
  padding: 0.5rem;
}

.table-products th {
  background-color: 'pink';
  padding: 1rem auto;
}

.btn {
  background: transparent;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}
.edit {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.edit:hover {
  background: var(--primary-color);
  color: #fff;
}
.delete {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.delete:hover {
  background: var(--secondary-color);
  color: #fff;
}

.table-wrapper {
  text-align: center;
  color: white;
}

.add {
  width: 6rem;
  height: 2rem;
  background: var(--primary-color);
  border: none;
  color: #fff;
  
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2423237a;
  display: none;
  
}

@keyframes animatetop {
    from {
      top: -300px; opacity: 0;
    }
    to {
      top: 0; opacity: 1;
    }
  }
.modal {
  position: relative;
  background:black;
  text-align: center;
  width: 25rem;
  margin: 5rem auto;
  -webkit-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  margin-bottom: 1rem;
  background: black;
  padding: 1rem;
  color: #955df4;
}

.modal-body {
  padding: 2rem;
}

.modal-show {
  display: block;
  
}

.btn-modal {
  background: var(--primary-color);
  border: none;
  color: #fff;
  width: 9rem;
}

input {
  width: 100%;
  height: 2.2rem;
  margin-bottom: 1rem;
  text-indent: 0.5rem;
  outline: none;
  background-color: #c089e0;
  margin-top:2em;
  color: black;
}
